* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

body {
    background-color: #EAEAEA;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 75px;
    background-color: #cecaca;
    display: flex;
    position: fixed;
    justify-content: center;
}

.navbar {
    width: 85%;
    top: 0;
}

.navbar ul {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.navbar li,
.a {
    font-size: 25px;
    margin: 10px;
    font-weight: bolder;
}

.navbar li a {
    display: flex;
    font-size: 23px;
    color: black;
}

.text {
    text-align: center;
    padding-top: 90px;
    font-size: 23px;

}

.text .data{
    background-color: #D9D9D9;
    padding: 10px;
    box-shadow: 10px 15px 20px #bab7b7;
    margin: 10px 40px;
    margin-bottom: 50px;
    text-align: left;
}

button{
    display: inline-flex;
        padding: 5px 10px;
        margin: 15px;
        margin-left: 0;
        font-size: 20px;
        color: white;
        background-color: #9D9999;
        border-radius: 6px;
        border-color: #9D9999;
}

@media only screen and (max-width: 611px) {
    .navbar ul {
        margin: 0 30px;
    }

    .navbar li a {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
        margin: 3px 10px;
    }

    .navbar {
        width: 100%;
    }

    button {
             font-size: 20px;
             padding: 5px;
         }


}

@media only screen and (max-width: 404px) {

    .navbar li,
    .a {
        font-size: 22px;
        padding: 0;
    }

    .navbar li a {
        font-size: 15px;
    }

    .text {
        font-size: 16px;
        margin: 3px 10px;
    }

         button {
             font-size: 15px;
         }

}



@media only screen and (max-width: 349px) {

    .navbar li,
    .a {
        font-size: 18px;
        padding: 0;
    }



    .text {
        font-size: 15px;
        margin: 3px 10px;
    }

    button{
        font-size: 12px;
    }

}
